name: Build Android APK

on:
  # Elle çalıştırmak için
  workflow_dispatch:

jobs:
  build-android:
    name: Build for Android
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          architecture: 'x64'

      - name: Install basic dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade Cython

      - name: Build with Buildozer
        id: buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        with:
          workdir: .
          buildozer_version: stable

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: barberapp-apk
          path: ${{ steps.buildozer.outputs.filename }}

