name: Build Android APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Ubuntu dependencies
      run: |
        sudo apt update
        sudo apt install -y git zip unzip libffi-dev libssl-dev build-essential
        pip install --upgrade pip cython buildozer

    - name: Build APK
      uses: Artymor/buildozer-action@v1
      with:
        buildozer_version: stable
        workdir: .
        buildozer_command: android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: BarberApp
        path: bin/*.apk
